.transcript-block-wrapper {
    display: grid;
    grid-template-rows: auto auto; /* creates two row tracks */
    align-items: start; /* aligns content to the start of each row */
    justify-items: end; /* aligns items to the end (right) */
  
    .transcript-block-speech-speaker {
      font-weight: bold;
      align-self: end;
      margin-bottom: 5px;
      justify-self: end; /* aligns text to the end (right) */
    }
  
    .transcript-block-speech {
      padding: 1em;
      border-radius: 8px;
      width: 75%;
    }
  }
  
  .transcript-block-wrapper.guest {
    .transcript-block-speech-speaker {
      text-align: left;
      justify-self: start; /* aligns text to the start (left) for guests */
    }
  
    .transcript-block-speech {
      justify-self: start; /* aligns speech bubble to the start (left) for guests */
    }
  }
  
  .transcript-block-wrapper.host {
    .transcript-block-speech-speaker {
      text-align: right;
    }
  
    .transcript-block-speech {
      justify-self: end; /* aligns speech bubble to the end (right) for hosts */
    }
  }
  