.transcript-block-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1em;
  
    &.guest .transcript-block-speech {
      margin-left: 0;
      margin-right: auto;
      width: 75%;
    }
  
    &.host {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  
    &.host .transcript-block-speech {
      margin-left: auto;
      margin-right: 0;
      width: 75%;
    }
  
    .transcript-block-speech-speaker {
      font-weight: bold;
    }
  
    .transcript-block-speech {
      padding: 1em;
      margin: 0.5em;
      border-radius: 8px
    }
}